.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 45px;
    line-height: 63px;
    color: #333333;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    /* padding-top: 60px; */
    /* overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all; */
}

#career-banner {
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 609px;
    min-width: 609px;
}

.logo {
    width: 397px;
    height: 75px;
    margin-bottom: 72px;
}


.career-banner {
    width: 1200px;
    height: 630px;
    /* background: linear-gradient(136deg, #FAFCFF 0%, #E4F0FF 100%); */
    padding: 0px 40px 0px 60px;
    display: flex;
    display: flex;
    flex-wrap: nowrap;
    gap: 74px;
    position: relative;
}

.career-banner-main{
    width: 1200px;
    height: 630px;
}

.left-box{
    width: 416px;
    height: 629px;
    display: flex;
}

.left-box-image {
    object-fit: contain;
    width: 100%;
    /* height: 100%; */
}



button{
    color: #FFFFFF;
    background-color: #1770E3;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    min-height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}




.linear-yellow,.linear-dark-blue,.linear-red, .linear-light-blue{
    display: none;
}

.career-banner.light-blue .linear-light-blue{
    display: block;
}
.career-banner.dark-blue .linear-dark-blue{
    display: block;
}
.career-banner.yellow .linear-yellow{
    display: block;
}
.career-banner.red .linear-red{
    display: block;
}



/*  */


.banner-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-top: 20px;
    grid-area: 16px;
    gap: 16px;
}

.input-label-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}